<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2>
            <%= @taxon.name %>
            <%= "/ #{option_value(params[:color]).name}" if params[:color].present? %>
          </h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <a href="/potepan">Home</a>
          </li>
          <li>
            <a href="#">shop</a>
          </li>
          <li class="active">
            <%= @taxon.name %>
            <%= "/ #{option_value(params[:color]).name}" if params[:color].present? %>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
