<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= @taxon.permalink %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li><a href="index.html">Home</a></li>
          <li><a href="#">shop</a></li>
          <li class="active"><%= link_to @taxon.name, potepan_category_path(@taxon.id) %></li>
        </ol>
      </div>
    </div>
  </div>
</section>
