<div class="row productsContent">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>RELATED PRODUCTS</h4>
    </div>
  </div>
  <%= render partial: 'related_product', collection: related_products, as: 'product' %>
</div>
