<!-- SITE TITTLE -->
<% provide(:title, @product.name) %>
<!-- LIGHT SECTION -->
<%= render partial: 'shared/page_header', locals: { title: @product.name, active: @product.name } %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render partial: 'single_product', locals: { product: @product, product_properties: @product_properties} %>
    <%= render 'related_products_index' %>
  </div>
</section>
