<!-- SITE TITTLE -->
<% provide(:title, @product.name) %>
<!-- LIGHT SECTION -->
<%= render partial: 'shared/page_header', locals: { title: @product.name, active: @product.name } %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render partial: 'single_product', locals: { product: @product, product_properties: @product_properties} %>
    <%= render partial: 'related_products_index', locals: { related_products: @related_products } %>
  </div>
</section>
