<!-- SITE TITTLE -->
<% provide(:title, "#{@product.name}") %>
<!-- LIGHT SECTION -->
<%= render 'page_header' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'single_product' %>
    <%= render 'related_products_index' %>
  </div>
</section>
