<%= render 'banner' %>
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'popular_category' %>
    <%= render partial: 'lated_products_index', locals: { lated_products: @lated_products } %>
  </div>
</section>
<%= render 'shared/bottom_light' %>
