<div class="container">
  <h1 id='sorry_comment' style='text-align:center;'>申し訳ありません、こちらの機能はまだ実装できていません。</h1>
  <%= image_tag '/sorry.jpg', id: 'sorry_img', style: 'width:100%; padding: 20px 0px 50px 0px;;' %>
</div>
